.cards{
    width: 23rem;
    border-radius: 1rem;
    margin: 1rem auto;
    background-color: orange;
    padding-bottom: 2rem;
    position: relative;
    overflow: hidden;
}
.lang-title{
    text-align: center;
    color: white;
    padding: 1rem 0;

}
.lang-div{
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(2, 2fr);
    gap: 3%;
    position: relative;
    z-index: 1;
}
.bars{
    height: 41rem;
    width: 5rem;
    background-color: #53c1de;
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
    left: 10rem;
    z-index: 0;

}